body {
  margin: 0;
  background-image: url('images/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}
h1, h2 {
  text-align: center;
}
h1 {
  font-family: Chivo;
  margin: 2rem auto;
  font-size: 4rem;
}
h2, h3 {
  font-family: Overpass;
  margin-bottom: 2rem;
}
h2 {
  font-weight: 400;
}
h3 {
  font-size: 1.5em;
  font-weight: 900;
  margin-top: 3rem;
}
p, a {
  font-family: Overpass;
}
a {
  color: gray;
}
em {
  color: #FD1015;
  background-color: #FFE0E1;
  font-style: normal;
  padding: 0 10px;
}
p em {
  font-weight: 700;
}
footer {
  font-family: Overpass;
  margin-top: 3rem;
  background: rgba(0,0,0,0.85);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  color: white;
}
.logo {
  max-width: 150px;
}
.logos {
  max-width: 500px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin-bottom: 1rem;
  justify-items: center;
  align-items: center;
}
.container {
  max-width: 800px;
  margin: auto;
  padding: 24px;
}
.subtitle {
  text-align: center;
  margin-top: 3rem;
}

@media (max-width: 800px) {
  .logos {
    grid-template-columns: 1fr;
  }
  .logo {
    width: auto;
  }
}

